.section {
  height: 100vh;
  padding: 0px;
}

.fixed {
  position: fixed;
}

.lobster {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.indie-flower {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

.indie-flower-2 {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

.turquoise {
  color: rgb(51, 255, 246) !important;
}

.big-font {
  font-size: 30px;
}

.flex-important {
  display: flex !important;
}

/*Reset*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/*Panels*/

.splitview {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 100vw;
  min-height: 100%;
  overflow: hidden;
}

.panel .content {
  position: absolute;
  width: 100vw;
  min-height: 100%;
  color: rgb(44, 44, 44);
}

.panel .description {
  width: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.panel img {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom {
  background-color: rgb(250, 250, 250);
  z-index: 1;
}

.bottom .content {
  color: rgb(44, 44, 44);
}

.top {
  background-color: rgb(44, 44, 44);
  z-index: 2;
  width: 50vw;
}

.description:nth-of-type(1) {
  left: 5%;
}

.description:nth-of-type(2) {
  right: 5%;
}

.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(51, 255, 246);
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1000px;
}
